
label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;

}
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 35px;
  background-color: white;
  border: none;

}

select:focus,
input:focus {
  outline: none;

}

select {
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  color: #000000;
  letter-spacing: 1px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
  color: white;
}


