<form>
  <label for="dropdown1">Partner:</label>
  <select id="dropdown1" id="partnerName">
    <option *ngFor="let optiune of partners; let i = index" [value]="partners[i]">{{partners[i]}}</option>
  </select>

  <label for="dropdown2">Category:</label>
  <select id="dropdown2">
    <option *ngFor="let optiune of categories; let i = index" [value]="categories[i]">{{categories[i]}}</option>
  </select>

  <label for="dropdown3">Energy Class:</label>
  <select id="dropdown3">
    <option *ngFor="let optiune of clasaEnergetica; let i = index" [value]="clasaEnergetica[i]">{{clasaEnergetica[i]}}
    </option>
  </select>

  <label for="dropdown2">Model:</label>
  <input placeholder="Model">


  <label for="dropdown2">Series:</label>
  <input placeholder="Series">

  <label for="dropdown2">Energy Consume:</label>
  <input placeholder="Energy Consume">
</form>