<div class="background">
  <div class="logo-area">
    <div class="logo">
      <img src="assets/logo.png" width="48" height="48" alt="Logo">
      <p id="titlu">Green House</p>
    </div>
  </div>
  <div class="options-area">
    <div class="option" id="electronics" (click)="goToElectronics()">My Electronics</div>
    <div class="option" (click)="goToChallenges()">Challenges</div>
    <div class="option" (click)="goToOffers()">Offers</div>
    <div class="option" (click)="goToPartners()">Partners</div>
    <div class="option" id="profile" (click)="signOut()">
      <i class='bx bx-user'></i>
    </div>
  </div>
</div>