
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div id="product">
    <div class="product_images" >
        <img src="/assets/tv.jpeg" alt="Product Image">
    </div>
    <div class="product_details">
        <div class="back">
            <span class="material-symbols-outlined" (click)="goToOffers()">chevron_left</span>
           <h6><a (click)="goToOffers()" style="cursor: pointer;"> Back to Offers</a></h6>
        </div>

        <h2>Televizor LED , TCL 40'' 102 cm , Smart tv , imagine Full HD, Clasa A+</h2>
        <h3>$499.00</h3>

        <div class="about">
            <p>Model :<span> </span></p>
            <p>Series : <span> </span></p>
            <p>Energy Class : <span> </span> </p>
            <p>Energy Consumation : <span> </span> </p>
        </div>

    </div>
</div>
