<section class="container">
  <section class="card__container">

    <div class="card__bx" style="--clr: #89ec5b">
      <div class="card__data">
        <h3>Side Challenge</h3>
        <div class="card__icon">
          <i class="bx bx-sun"></i>
        </div>
        <div class="card__content">
          <h3>Electricity</h3>
          <p>Try to consume less electricity for 24 hours!</p>
        </div>
      </div>
    </div>

    <div class="card__bx" style="--clr: #00ffcc">
      <div class="card__data">
        <h3>Daily Challenge</h3>
        <div class="card__icon">
          <i class="bx bxs-bulb"></i>
        </div>
        <div class="card__content">
          <h3>Air Conditioner</h3>
          <p>Try to not use the Air Conditioner for 24 hours!</p>

        </div>
      </div>
    </div>

    <div class="card__bx" style="--clr: #89ec5b">
      <div class="card__data">
        <h3>Optional Challenge</h3>
        <div class="card__icon">
          <i class="bx bx-recycle"></i>
        </div>
        <div class="card__content">
          <h3>Green House</h3>
          <p>Try to maintain a cleaner and healthier environment!</p>
        </div>
      </div>
    </div>

  </section>

</section>
